<!-- your html code here -->
<!-- <p>Hello, I'm the first_heading.html</p> -->
<div class="card mb-1" style="padding: 80px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <div class="flex-row d-flex">
                    <h1 class="card-title">This First Heading <spam class="text-muted">Will Catch Your Eye</spam></h1>
                </div>
                <p class="card-text fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, quasi, deserunt pariatur reprehenderit quod id mollitia magnam ad quia ea vitae illo vero corporis voluptatum eveniet architecto laborum dolorum unde!</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/img/1.jpg" class="img-fluid rounded-circle" alt="...">
        </div>
    </div>
  </div>